<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/img/pngtree-weather-icon-png-image_4468240.jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="/css/style.css" />

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/صورة شخصية.jpg" alt="">
    </div>
    {{>footer}}
</body>

</html>