<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/img/pngtree-weather-icon-png-image_4468240.jpg">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    {{!--
    <script src="/js/app.js"></script> --}}
    <link rel="stylesheet" href="/css/style.css" />

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>use this site to get your weather</p>

        <form action="">
            <input placeholder="location" type="text" id="search-weather">
            <button>search</button>
        </form>

        <p id="target-parag1"></p>
        <p id="target-parag2"></p>
        <p id="error-parag"></p>
    </div>

    <script type="module" src="/js/app.js"></script>

    {{>footer}}

</body>

</html>